<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_commons/_head.html", { "title": "Праздник к нам приходит | Клиника Профессора Юцковской" })

<body>
    @@include("../includes/_commons/_ymetrics.html")
    <div class="wrapper" id="top">
        @@include("../includes/_commons/_header-event.html")
        <main class="main">
            @@include("../includes/_hero-event.html")
            @@include("../includes/_gift.html")
            @@include("../includes/_events-event.html")
        </main>
        @@include("../includes/_commons/_footer-event.html")
        @@include("../includes/_modals/_modal-terms.html")
    </div>
    <script src="js/scripts.js?v=1"></script>
</body>

</html>
