<!DOCTYPE html>
<html lang="ru">
@@include("../includes/_commons/_head.html", { "title": "Гала Фестиваль Красоты | Клиника Профессора Юцковской" })

<body>
    @@include("../includes/_commons/_ymetrics.html")
    <div class="wrapper" id="top">
        @@include("../includes/_commons/_header.html")
        <main class="main">
            @@include("../includes/_hero.html")
            @@include("../includes/_slider.html")
            @@include("../includes/_about.html")
            @@include("../includes/_clinic.html")
            @@include("../includes/_events.html")
        </main>
        @@include("../includes/_commons/_footer.html")
        @@include("../includes/_modals/_modals.html")
    </div>
    <script src="js/scripts.js?v=1"></script>
</body>

</html>
