.about {
    min-height: 660px;
    margin-bottom: 80px;

    @media (max-width: $mobile) {
        margin-bottom: 30px;
    }

    &__body {
        font-size: 20px;
        padding-right: 600px;
        position: relative;

        @media (max-width: $laptop) {
            padding-right: 50%;
        }

        @media (max-width: $tablet) {
            font-size: 16px;
            max-width: 100%;
            padding-right: 0;
        }

        b {
            display: inline-block;
            position: relative;

            &::before {
                content: '';
                background-image: url(../img/marker.svg);
                position: absolute;
                top: -5px;
                left: -20px;
                width: 488px;
                height: 48px;
                z-index: 0;

                @media (max-width: $mobile) {
                    top: 0;
                    left: -15px;
                    width: 326px;
                    background-size: contain;
                }
            }

            span {
                position: relative;
                z-index: 1;
            }
        }
    }

    &__img {
        position: absolute;
        right: 0;
        top: 0;
        width: 670px;

        @media (max-width: $laptop) {
            width: 50%;
        }

        @media (max-width: $tablet) {
            position: static;
            display: block;
            width: 100%;
            margin-bottom: 30px;
            margin-top: -7px;

            img {
                width: 100%;
            }
        }

    }

    &__title {
        font-family: $font-family-title;
        font-size: 50px;
        line-height: 1.2;
        color: $blue;
        text-transform: uppercase;
        margin-bottom: 50px;

        @media (max-width: $tablet) {
            font-size: 32px;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__subtitle {
        font-family: $font-family-title;
        font-size: 24px;
        line-height: 1.6;
        text-transform: uppercase;
        color: $blue;
        margin-bottom: 40px;

        @media (max-width: $mobile) {
            font-size: 16px;
            margin-bottom: 0;
        }
    }

    &__text {
        max-width: 480px;
    }
}
