.clinic {
    margin-bottom: 84px;

    @media (max-width: $tablet) {
        margin-bottom: 30px;
    }

    &__body {
        display: flex;
        background: linear-gradient(201.38deg, #FFF3E0 3.05%, rgba(255, 239, 243, 0.3) 85.93%);
        border-radius: 40px;
        padding: 55px 68px 55px 100px;
        align-items: center;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            padding: 24px 18px;
            justify-content: space-between;
        }
    }

    &__logo {
        flex-shrink: 0;

        @media (max-width: $tablet) {
            width: 141px;
        }
    }

    &__img {
        margin-left: 30px;
        flex-shrink: 0;

        img {
            width: 168px;
            height: auto;

            @media (max-width: $tablet) {
                width: 128px;
            }
        }
    }

    &__list {
        margin-left: 102px;
        display: flex;
        flex-wrap: wrap;

        @media (max-width: $tablet) {
            margin-top: 30px;
            flex-wrap: nowrap;
            flex-direction: column;
            margin-left: 15px;
        }

        @media (max-width: $mobile) {
            margin-left: 0;
        }

        li {
            display: flex;
            align-items: center;
            font-size: 18px;
            line-height: 1.4;
            margin-right: 30px;
            margin-bottom: 16px;

            @media (max-width: $tablet) {
                font-size: 16px;
            }

            @media (max-width: $laptop) {
                margin-bottom: 21px;
            }

            &::before {
                content: '';
                display: block;
                background-image: url(../img/icon-check.svg);
                height: 28px;
                width: 28px;
                margin-right: 12px;
                flex-shrink: 0;
            }
        }
    }
}
