.events {
    &__container {
        @media (max-width: $laptop) {
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
            margin-bottom: 40px;

            @media (max-width: $laptop) {
                margin-bottom: 20px;
            }
        }
    }
}

.event {
    height: 470px;
    width: 670px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 34px 40px;
    font-size: 18px;
    line-height: 1.4;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 80%;

    @media (max-width: $laptop) {
        width: 100%;
        border-radius: 30px;
    }

    @media (max-width: $mobile) {
        padding: 30px 18px;
        font-size: 16px;
    }

    &:nth-child(1) {
        background-image: url(../img/event-01.jpg);
        color: $white;
    }

    &:nth-child(2) {
        background: linear-gradient(201.38deg, #FFE9C9 3.05%, rgba(255, 222, 250, 0.3) 85.93%);
    }

    &:nth-child(3) {
        background: linear-gradient(201.38deg, #EAEEFF 3.05%, rgba(247, 245, 255, 0.3) 85.93%);
    }

    &:nth-child(4) {
        background-image: url(../img/event-04.jpg);
        color: $white;
    }

    &:nth-child(5) {
        background-image: url(../img/event-05.jpg);
    }

    &:nth-child(6) {
        background: linear-gradient(201.38deg, #E8DBFF 3.05%, rgba(255, 233, 239, 0.3) 85.93%);
        justify-content: flex-start;

        @media (max-width: $laptop) {
            text-align: center;
            height: 288px;
        }

        @media (max-width: $mobile) {
            padding-top: 42px;
        }

        .event__body {
            @media (max-width: $laptop) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        .button {
            @media (max-width: $laptop) {
                display: none;
            }
        }

        p {
            @media (max-width: $mobile) {
                font-size: 18px;
            }
        }
    }

    &--short {
        width: 470px;

        @media (max-width: $laptop) {
            width: 100%;
        }

        .event__title {
            color: $blue;
        }

        .event__time {
            background-color: $orange;
            color: $white;
        }
    }

    &__body {
        max-width: 400px;

        b {
            display: block;
            color: $orange;
            margin-bottom: 24px;
            margin-top: 49px;
            text-transform: uppercase;
            font-family: $font-family-title;
            font-size: 24px;
            line-height: 1.4;

            @media (max-width: $mobile) {
                margin-top: 20px;
            }
        }
    }

    &__time {
        display: block;
        font-family: $font-family-title;
        padding: 6px 12px;
        border-radius: 100px;
        margin-bottom: 12px;
        background-color: $white;
        color: $blue;
        width: fit-content;
        text-transform: uppercase;

        @media (max-width: $mobile) {
            font-size: 18px;
        }
    }

    &__title {
        font-family: $font-family-title;
        font-size: 28px;
        line-height: 1.4;
        color: $white;
        text-transform: uppercase;
        margin-bottom: 12px;

        @media (max-width: $laptop) {
            font-size: 20px;
        }
    }

    &__img {
        border-radius: 100%;
        overflow: hidden;
        width: 189px;
        height: 189px;
        margin-bottom: 32px;
    }
}

.events--event {
    margin-top: -200px;

    @media (max-width: $tablet) {
        margin-top: 0;
    }

    .event {
        width: 100%;
        color: $white;

        // &:nth-child(1) {
        //     background: url(../img/event-06.jpg);
        //     background-repeat: no-repeat;
        //     background-size: cover;
        // }

        // &:nth-child(2) {
        //     background: url(../img/event-07.jpg);
        //     background-repeat: no-repeat;
        //     background-size: cover;
        // }

        &:nth-child(1) {
            background: url(../img/event-08-bg.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 30% 50%;
        }

        &__body {
            max-width: 468px;
        }

        &__title {
            color: $white;
            font-size: 24px;
            line-height: 1.4;

            @media (max-width: $tablet) {
                font-size: 20px;
            }
        }
    }

    .event__time {
        background-color: $white;
        color: $blue;

        @media (max-width: $tablet) {
            font-size: 16px;
        }
    }

    .event__button {
        background: transparent;
        border: 2px solid $white;
        font-size: 14px;
        color: $white;
        padding: 18px 28px;
        margin-top: 12px;

        // @media (max-width: $mobile) {
        //     margin: 0 auto;
        // }

        &:hover,
        &:active {
            background: $white;
            color: $blue;
        }

        &::before,
        &::after {
            display: none;
        }
    }

    .event--short {
        width: 570px;

        @media (max-width: $laptop) {
            width: 100%;
        }
    }

    .event--full {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        justify-content: space-between;

        @media (max-width: $tablet) {
            flex-direction: column;
            height: auto;
            align-items: center;
            padding-top: 15px;
        }

        .event__img {
            width: 601px;
            height: 394px;
            border-radius: 0;
            margin-bottom: 0;

            @media (max-width: $tablet) {
                width: 338px;
                height: auto;
                margin-bottom: 20px;

            }

            img {
                object-fit: contain;
            }
        }

        .event__title {
            @media (max-width: $tablet) {
                font-size: 24px;
            }
        }
    }
}
