.swiper-slide {
    transition-duration: 0.9s !important;
}

.swiper-buttons {
    display: flex;
}

.swiper-button {
    height: 54px;
    width: 54px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    transition: background-color $transition;

    @include fill($blue);

    @media (max-width: $mobile) {
        height: 46px;
        width: 46px;
    }

    &:hover {
        background-color: $orange;
        @include fill($white);
    }

    &:active {
        background-color: rgba($orange, 0.8);
    }

    &-disabled {
        cursor: default;
        @include fill(#B3B3B3);

        &:hover {
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    .icon {
        width: 14px;
        height: 14px;
    }
}

.swiper-button-prev {
    margin-right: 16px;

    .icon {
        transform: rotate(180deg);
    }
}
