.tel {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    font-family: $font-family-head;
    color: $black;

    @media (max-width: $tablet) {
        font-size: 16px;
    }


    &__icon {
        margin-right: 16px;
    }

    &__text {
        span {
            display: block;
            white-space: nowrap;
        }
    }
}
