.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    float: left;
    margin: 0 3.8% 2.992 em 0;
    padding: 30px;
    position: relative;
    width: 22.05%;
    margin-left: 0;
	background: #fff;
	border-radius: 25px;
	text-align: center;
}

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 {
    padding: 0.5em 0;
    margin: 0;
    font-size: 1em;
	color:#000518;
}

.page-description{margin-bottom: 50px;}