body {
    background-color: #fff;
    color: $dark-blue;
    font-family: $font-family-base;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
}

img {

    @include img-placeholder;
}

.wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100%;
    padding-bottom: 50px;
    background-image: url(../img/hero-bg.png);
    background-size: 100% auto;

    @media (max-width: 1500px) {
        background-position: 100% 0;
    }

    @media (max-width: $tablet) {
        background-image: url(../img/hero-bg@mob.png);
        background-size: 100% 773px;
        background-position: 50% 0;
        padding-bottom: 90px;
    }
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}


.container {
    max-width: 1206px;
    padding: 0 18px;
    margin: 0 auto;
}

