@font-face {
    font-display: swap;
    font-family: "DespairDisplay";
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/DespairDisplay-Bold.woff2") format("woff2"),
        url("../fonts/DespairDisplay-Bold.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 500;
    src:
        url("../fonts/Manrope-Medium.woff2") format("woff2"),
        url("../fonts/Manrope-Medium.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src:
        url("../fonts/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope-Regular.woff") format("woff");
}
