$font-stack-sans-serif: "DespairDisplay","Open Sans","Segoe UI",roboto,"Helvetica Neue",helvetica,arial,sans-serif;
$font-stack-serif: georgia,times,"Times New Roman",serif;
$font-stack-text: "Manrope","Open Sans","Segoe UI",roboto,"Helvetica Neue",helvetica,arial,sans-serif;

$font-family-base: $font-stack-text;
$font-family-title: $font-stack-sans-serif;

$transition: 0.3s ease-out 0s;

/*$desktop: 1604px;*/
$laptop: 1280px;
$tablet: 1024px;
$mobile: 768px;

$blue: #463672;
$white: #fff;
$orange: #FF7A00;
$dark-blue: #504E55;
